* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  width: 440px;
  height: 400px;
  background-color: #09090b;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  position: relative;
}

main {
  width: 100%;
  padding: 0px 40px;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-secondary {
  height: 28px;
  width: 28px;
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.button-secondary:hover {
  background-color: #2a2a2a;
}

.volume-btn {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.volume-btn:hover {
  color: #c7c7c7;
}

#quran-buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quran-button {
  height: 36px;
  width: 96px;
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.quran-button:hover {
  background-color: #2a2a2a;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  border-radius: 6px;
}

.bg-zinc-800 {
  background-color: #18181b;
}

#time-date {
  width: 100%;
  background: #000;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  margin-bottom: 16px;
}

#app-settings h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

#app-settings h3 {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
}

#date {
  font-size: 2.2rem;
  margin-bottom: -16px;
  font-weight: 500;
}

#time {
  font-size: 6rem;
  font-weight: 600;
}

#buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 8px;
}

.key__button_1,
.key__button_2,
.key__button_3 {
  box-sizing: border-box;
  font-size: 22px;
  text-align: center;
  color: #555;
  cursor: pointer;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.key__button_1:hover,
.key__button_2:hover,
.key__button_3:hover,
.key__button_1:focus,
.key__button_2:focus,
.key__button_3:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}
.key__button_1:active,
.key__button_2:active,
.key__button_3:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(4px);
}

.key__button_1,
.key__button_2 {
  width: 100%;
}
.key__button_3 {
  padding: 0px 10px;
}

header {
  margin-bottom: auto;
}
footer {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#timer {
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 4px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#info {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: transparent;
  color: #f2f2f2;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.2s ease;
}

#info:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-dialog {
  background: #09090b;
  border: 1px solid white;
  width: 80%;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  #time-date {
    font-size: 1.5rem;
  }
}
